.coinContainer{
    color: white;
    margin: 2rem 2rem;
    width: 20rem;
    height: 25rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    background: linear-gradient(rgb(7, 2, 77),rgb(60, 2, 53));
    box-shadow: 0 0 10px rgb(223, 226, 222);
    border-radius: 1rem;
}
.coinContainer:hover{
    transform: scale(1.05);
}
.icon{
    width: 6rem;
    animation: rotation 5s infinite linear;
}
@keyframes rotation {
   
    25% {
      transform: rotateY(90deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    75%{
        transform: rotateY(270deg);
    }
    100%{
        transform: rotateY(359deg);
    }
  }
.loss {
    color: #f00606;
    font-weight: bold;
  }
  
  .gain {
    color: #11d811;
    font-weight: bold;
  }

  .coinName{
    color: rgb(240, 240, 5);
  }
  @media screen and (max-width: 480px) {
    .coinContainer{
        color: white;
        margin: 1.2rem 2rem;
        width: 15rem;
        height: 19rem;
      
    }
    .coinContainer:hover{
        transform: none;
    }
    .icon{
        width: 4rem;
    }
    .coinBox{
        font-size: 0.9rem;
    }
    .coinName{
        font-size: 1.4rem;
      }
  }